<!DOCTYPE html>
<html>
{include file='header.html'}
<body>
<h1>覚え方リセット確認</h1>
<h2>教科　[{$subject}] の問題集　[{$workbook}]　の問題</h2>
<h4>選択された問題の覚え方を全てリセットしますか？</h4>

<form action="reset_memory_selected.php" method="post">
	<input type="hidden" name="subject" value="{$subject}" />
	<input type="hidden" name="workbook" value="{$workbook}" />
	<input type="submit" value="リセット"　/>
</form>

<br/>
<a href="select.php?subject={$subject}&workbook={$workbook}">
	←問題選択に戻る
</a>

<br/>
<a href="workbook.php?subject={$subject}">
	←←問題集選択に戻る
</a>

<br/>
<a href="menu.php">
	←←←メニューに戻る
</a>

<h3>選択された問題</h3>

<table border="2" class="question">
	<tr><th>問題</th><th>解答</th><th>覚え方</th></tr>
	{foreach $questions as $question}
	<tr>
		<td class="lt">
				{nl2br(htmlspecialchars($question.question, $smarty.const.ENT_QUOTES))}{if $question.len_q == "true"}・・・{/if}
		</td>

		<td class="lt">
				{nl2br(htmlspecialchars($question.answer, $smarty.const.ENT_QUOTES))}{if $question.len_a == "true"}・・・{/if}
		</td>

		<td class="lt">
				{nl2br(htmlspecialchars($question.memory, $smarty.const.ENT_QUOTES))}{if $question.len_m == "true"}・・・{/if}
		</td>
	</tr>
	{/foreach}
</table><br/>

</body>
</html>